apiVersion: 1

datasources:
  # ---- LOKI: para logs detallados (quién, qué, cuándo) ----
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true

  # ---- PROMETHEUS: para métricas numéricas (cuántos, latencia) ----
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
